div .container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 10px 1px rgba(241, 241, 241, 0.918);
  z-index: 100;
}

div .navBody {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  img {
    height: 28px;
    padding: 0 4px;
    margin: 0 8px;
  }
}

.loginButton {
  background-color: #fff;
  border: 0.5px solid #a3aab1;
  border-radius: 4px;
  height: 2rem;
  width: 4.875rem;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

div .contents {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  div .logo img {
    height: 20px;
  }
}
