div.writeContainer {
  // box-sizing: border-box;
  max-width: 1200px;
  // margin: auto;
  padding: 106px 102px 0 102px;
}

input,
textarea {
  outline: none;
  border: none;
  border-bottom: 0.5px solid #eaeaea;
}

div {
  textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    // height: 4rem;
    padding: 4px 8px;
    overflow: hidden;
  }

  textarea::placeholder {
    color: #bebebe;
  }
}

div.btnContainer {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    padding: 0.25rem 20px;
    border-radius: 6px;
  }

  button.temp {
    background-color: #cacaca;
    color: #343a40;
  }

  button.save {
    background-color: #6f9acd;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  div.writeContainer {
    padding: 1rem;
  }
}
